[Unit]
Description=Moodboard (podman-compose)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/root/apps/moodboard
ExecStart=/usr/local/bin/podman-compose -f compose.yml up -d --build
ExecStop=/usr/local/bin/podman-compose -f compose.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
