[Unit]
Description=Vikunja (Podman)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/root/apps/vikunja/.env
ExecStartPre=-/usr/bin/podman rm -f vikunja
ExecStart=/usr/bin/podman run --replace --name vikunja \
    --network=host \
    -v /root/apps/vikunja/data:/app/vikunja/files \
    --env-file /root/apps/vikunja/.env \
    docker.io/vikunja/vikunja:latest
ExecStop=/usr/bin/podman stop -t 10 vikunja
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target