poppy:
  ssh_host: root@poppy

rclone:
  gdrive:
    client_id: "<FILL_ME>"
    client_secret: "<FILL_ME>"
    token_json: "<FILL_ME_JSON>"
  gdrive_capsule:
    token_json: "<FILL_ME_JSON>"
    root_folder_id: "1q9urpon7tZUSdeO1UfW3kIM8feURFIYe"

sync:
  destination_subpath: "proxmox"
  schedule_cron: "0 4 * * *"
