poppy:
  ssh_host: root@poppy

rclone:
  gdrive:
    client_id: "<FILL_ME>"
    client_secret: "<FILL_ME>"
    token_json: "<FILL_ME_JSON>"
  gdrive_capsule:
    token_json: "<FILL_ME_JSON>"
    root_folder_id: "1q9urpon7tZUSdeO1UfW3kIM8feURFIYe"

apps:
  restic:
    password: "<FILL_ME>"  # used to encrypt all restic repos (drive-side encryption)
  garage:
    rpc_secret: "<FILL_ME>"
    admin_token: "<FILL_ME>"
    metrics_token: "<FILL_ME>"
  memos:
    backup_destination: "memos"
    garage_access_key_id: "<FILL_ME>"
    garage_secret_access_key: "<FILL_ME>"
  moodboard:
    garage_bucket: "<FILL_ME>"
    garage_access_key_id: "<FILL_ME>"
    garage_secret_access_key: "<FILL_ME>"
    gemini_api_key: "<FILL_ME>"
  vikunja:
    jwt_secret: "<FILL_ME>"
    public_url: "<FILL_ME>"

sync:
  destination_subpath: "proxmox"
  schedule_cron: "0 4 * * *"
